<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Hello, {{name}}</p>
    <p>Have you requested a password recovery?</p>
    <p>If it was you click on the link below:</p>
    <p>
        <a href="{{link}}">Recovery now!</a>
    </p>

    <p>If not ignore this email</p>

    <p>
        Thank you! <br>

        -- <br>
        <strong>GoBarber Team!</strong>
    </p>
</div>
